<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146519717733-0lnqd76930414nk3631kab32fkskntge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146519717733-0lnqd76930414nk3631kab32fkskntge</string>
	<key>API_KEY</key>
	<string>AIzaSyDunBqN3qPWACQqrW4HvrJOhgbAIcqxK3I</string>
	<key>GCM_SENDER_ID</key>
	<string>146519717733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhc.notecore</string>
	<key>PROJECT_ID</key>
	<string>notecore-dhc</string>
	<key>STORAGE_BUCKET</key>
	<string>notecore-dhc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146519717733:ios:b24d9fda72f4c4e9b9d38c</string>
</dict>
</plist>